<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOTELARIA ADS5
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Encontrar estadias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
             
        <ion-input label="Cidades de Interesse" labelPlacement="stacked" fill="outline">
          <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-input>
      
             
        <ion-input label="Nome da hospedagem" labelPlacement="stacked" fill="outline">
          <ion-icon name="bed-outline" slot="start"></ion-icon>
        </ion-input>
      
    </ion-card-content>
    <ion-button fill="clear">Buscar</ion-button>
    <ion-button fill="clear">Limpar Pesquisa</ion-button>
  </ion-card>
  <ion-label>Estadias localizadas</ion-label>
  <div>
  <ion-card>
    <img alt="Hotel Açores" src="https://portal-de-viagem.s3.sa-east-1.amazonaws.com/images/zHfPsIpuvFVLWk9CLwtGOTCvXYhEMATFc8OclAec.png" />
    <ion-card-header>
      <ion-card-title>Hotel Açores</ion-card-title>
      <ion-card-subtitle>Balneário Camboriu</ion-card-subtitle>
    </ion-card-header>
    
    <div class="preco">
      <ion-icon name="card-outline"></ion-icon> R$ 325,00
    </div>
    <div class="data">
      <ion-icon name="calendar-outline"></ion-icon> 05/12/2024
    </div>
    <div class="estrela">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
  </ion-card>
  </div>
</ion-content>